 #navbar { display: flex;
        justify-content: center; 
        align-items: center;        
        background-color: #c6a8ff;
        
    }
    #navbar a{
        color: black;
        text-decoration: none;
        padding: 10px;
        
    }
    #navbar h2{
        color: black;
        padding: 10px;

    } 

 body {

background-color: #f2a541;
}

p {
    
    font-size:xx-large;
    text-align:center


}

#map    {

    display:flex;
    justify-content:space-evenly;

}


th     {

    font-size:x-large;


}





.border{

    
    display:flex;
    justify-content:center;
    border-width: 5cm;
}





table  {

    border:solid 4px black;
    display:flex;
    justify-content:center;
    font-size:medium;

}


footer {
 display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c6a8ff;
}
